[client-server]
# Uncomment these if you want to use a nonstandard connection to MariaDB
# hardlink position to database socket and give port address
socket=/var/lib/mysql/mysql.sock
port=3306

# This will be passed to all MariaDB clients
[client]
socket=/var/lib/mysql/mysql.sock


# The MariaDB server
# allow connection from anywhere
[mysqld]
bind-address=0.0.0.0
skip-networking = false
# Directory where you want to put your data
datadir=/var/lib/mysql
# Directory for the errmsg.sys file in the language you want to use
#language=/usr/local/share/mysql/english

# This is the prefix name to be used for all log, error and replication files
log-basename=mysqld

# Enable logging by default to help find problems
#general-log
#log-slow-queries

#verbose errorlog accessable from outside container in the volume
[mariadb]
log_warnings=4
log_error=/var/lib/mysql/mariadb.err