[client-server]
# sets port for database socket
socket=/var/lib/mysql/mysql.sock
port=3306

[client]
# passes socket and root password to all clients
socket=/var/lib/mysql/mysql.sock

[Service]
Protect-Home=false

[mysqld]
# allow connections from any address
bind-address=0.0.0.0
skip-networking = false

[mariadb]
# set verbose error log accessible from outside the container
log_warnings=4
log_error=/var/lib/mysql/mariadb.err